<%= form_for(@micropost) do |f| %>

<div class="field">
<%= f.label :content, 'Content' %>
<%= f.text_area :content, :value => '', :id => 'micropost_content', :type => 'text' %>
</div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>