<div class="col-md-8">
<%= flash[:notice] %>
<% if @micropost %>
<h3>Microposts (<%= @micropost %>)</h3>
<ol class="microposts">
<%= render @micropost %>
</ol>
<%= will_paginate @micropost %>
<% end %>
</div>